In [63]:
engine = create_engine('sqlite:///chinook.db')
result_set = engine.execute("SELECT ca.artist_name,ca.year,SUM(ca.UnitPrice) total,rank() over (partition by year order by SUM(ca.UnitPrice) desc) rank FROM (SELECT invoice_items.TrackId,invoice_items.UnitPrice,invoices.Total,invoices.InvoiceId AS invoice_id,STRFTIME( '%Y', invoices.InvoiceDate) AS year,invoices.BillingState,tracks.AlbumID AS album_id,artists.ArtistID AS artist_id,artists.Name AS artist_name FROM invoice_items INNER JOIN invoices ON invoices.InvoiceId = invoice_items.InvoiceId INNER JOIN tracks ON tracks.TrackId = invoice_items.TrackId INNER JOIN albums ON albums.AlbumId = tracks.AlbumId INNER JOIN artists ON artists.ArtistId = albums.ArtistId WHERE invoices.BillingState = 'CA') ca GROUP BY 1, 2")
for r in result_set:
    print(r)

('The Cult', '2009', 4.95, 1)
('Deep Purple', '2009', 3.96, 2)
('Djavan', '2009', 2.9699999999999998, 3)
('Eric Clapton', '2009', 2.9699999999999998, 3)
('The Clash', '2009', 2.9699999999999998, 3)
('Def Leppard', '2009', 1.98, 6)
('Spyro Gyra', '2009', 1.98, 6)
('Dennis Chambers', '2009', 0.99, 8)
('Elis Regina', '2009', 0.99, 8)
('Green Day', '2009', 0.99, 8)
('The Doors', '2009', 0.99, 8)
('Iron Maiden', '2010', 13.860000000000001, 1)
('Caetano Veloso', '2010', 1.98, 2)
('Deep Purple', '2010', 1.98, 2)
('Ed Motta', '2010', 1.98, 2)
('Eric Clapton', '2010', 1.98, 2)
('Gene Krupa', '2010', 1.98, 2)
('Miles Davis', '2010', 1.98, 2)
('Toquinho & Vinícius', '2010', 1.98, 2)
('Various Artists', '2010', 1.98, 2)
('Os Mutantes', '2010', 0.99, 10)
('Santana', '2010', 0.99, 10)
('Van Halen', '2011', 5.94, 1)
('Red Hot Chili Peppers', '2011', 4.95, 2)
('Raul Seixas', '2011', 2.9699999999999998, 3)
('Toquinho & Vinícius', '2011', 2.9699999999999998, 3)
('Amy Winehouse', '2011', 1.98, 5)
('UB40', '2011', 1.98, 5)
('Raimundos', '2011', 0.99, 7)
('U2', '2011', 0.99, 7)
('Various Artists', '2011', 0.99, 7)
('The Office', '2012', 5.97, 1)
('Antônio Carlos Jobim', '2012', 5.94, 2)
('Iron Maiden', '2012', 5.94, 2)
('Metallica', '2013', 5.94, 1)
('Eric Clapton', '2013', 3.96, 2)
('Gilberto Gil', '2013', 3.96, 2)
('Godsmack', '2013', 1.98, 4)
('U2', '2013', 0.99, 5)